<html>
  <head>
    <meta charset="utf-8">
      <title>Camera settings</title>

      <% if not $develop_mode %>
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="-1">
      <% end %>
    </meta>

    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/settings.js"></script>
  </head>

  <body>
  </body>
</html>
